force-app/main/default/flows/RTF_Create_Contract_for_Completed_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Should_Create_Contract</name>
        <label>계약 자동 생성 대상</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>대상 아님</defaultConnectorLabel>
        <rules>
            <name>Completed_Stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>계약 생성</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>수주 완료</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Synced_Quote</targetReference>
            </connector>
            <label>완료 단계</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Needs_Contract</name>
        <label>계약 생성 필요 여부</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>이미 연결됨</defaultConnectorLabel>
        <rules>
            <name>Create_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Synced_Quote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Synced_Quote.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract</targetReference>
            </connector>
            <label>신규 생성</label>
        </rules>
    </decisions>
    <description>Opportunity가 계약 생성 또는 수주 완료 단계로 변경되면 동기화 Quote 기준으로 표준 Contract를 자동 생성하고 Quote에 연결합니다.</description>
    <environments>Default</environments>
    <formulas>
        <name>Contract_Description</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Get_Synced_Quote.Name}),
    "기회 완료 시 자동 생성된 계약입니다.",
    "기회 완료 시 자동 생성된 계약입니다. 동기화 견적: " &amp; {!Get_Synced_Quote.Name}
)</expression>
    </formulas>
    <formulas>
        <name>Contract_Start_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!$Record.Expected_Install_Date__c}),
    {!$Record.CloseDate},
    {!$Record.Expected_Install_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>Contract_Term_Months</name>
        <dataType>Number</dataType>
<expression>IF(
    ISBLANK({!Get_Synced_Quote.Rental_Term_Months__c}),
    IF(
        ISBLANK({!$Record.Rental_Term_Months__c}),
        12,
        {!$Record.Rental_Term_Months__c}
    ),
    {!Get_Synced_Quote.Rental_Term_Months__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>RTF_Create_Contract_for_Completed_Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_Create_Contract_for_Completed_Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>계약 생성</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_With_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>Contract_Term_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Contract_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>Get_Synced_Quote.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>동기화 견적 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Needs_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_With_Contract</name>
        <label>견적에 계약 연결</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Synced_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Create_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SyncedQuoteId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
