force-app/main/default/flows/SCF_Opportunity_Business_Status_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Verify_Opportunity_Business_Status</name>
        <label>기회 사업자번호 검증</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OpportunityBusinessStatusInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Verified</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessNumber</name>
            <value>
                <elementReference>Input_Business_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>OpportunityBusinessStatusInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Verified</name>
        <label>검증 성공 여부</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Verification_Failed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>검증 실패</defaultConnectorLabel>
        <rules>
            <name>Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Opportunity_Business_Status.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Verify_Opportunity_Business_Status.isVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verification_Success_Screen</targetReference>
            </connector>
            <label>계속사업자 확인</label>
        </rules>
    </decisions>
    <description>Opportunity 레코드 상세 페이지에서 사업자번호를 검증하고 결과를 Opportunity 필드에 반영하는 Screen Flow</description>
    <environments>Default</environments>
    <interviewLabel>SCF_Opportunity Business Status Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCF_Opportunity_Business_Status_Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>기회 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Number_Input_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Business_Number_Input_Screen</name>
        <label>사업자번호 검증</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Opportunity_Business_Status</targetReference>
        </connector>
        <fields>
            <name>Intro_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;견적 및 계약 진행 전에 기회의 사업자번호를 검증합니다.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;검증 결과는 기회(Opportunity)에 저장되며, 미검증 상태에서는 기회를 &lt;strong&gt;수주 완료&lt;/strong&gt;로 변경할 수 없습니다.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Info</name>
            <fieldText>&lt;p&gt;기회명: {!Get_Opportunity.Name}&lt;/p&gt;&lt;p&gt;현재 단계: {!Get_Opportunity.StageName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Business_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Business_Number__c</elementReference>
            </defaultValue>
            <fieldText>사업자등록번호 입력</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>검증</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Success_Screen</name>
        <label>검증 완료</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;기회 사업자번호 검증이 완료되었습니다.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;사업자번호: {!Verify_Opportunity_Business_Status.normalizedBusinessNumber}&lt;/p&gt;&lt;p&gt;상태: {!Verify_Opportunity_Business_Status.businessStatus}&lt;/p&gt;&lt;p&gt;과세유형: {!Verify_Opportunity_Business_Status.taxType}&lt;/p&gt;&lt;p&gt;{!Verify_Opportunity_Business_Status.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>닫기</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Failed_Screen</name>
        <label>검증 실패</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;사업자번호 검증을 완료하지 못했습니다.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Verify_Opportunity_Business_Status.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>닫기</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unexpected_Error_Screen</name>
        <label>오류 화면</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unexpected_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;검증 중 예기치 않은 오류가 발생했습니다.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;잠시 후 다시 시도하거나 관리자에게 문의하세요.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>닫기</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
